.login {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px; 

}

.login form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: #fff;  
}