/* Bootstrap navbar CSS changes */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid rgb(150, 150, 150) !important;
}

.navbar-brand,
.nav-link {
  line-height: 1.5; /* Adjusted line-height */
  padding: 10px 5px; /* Adjusted padding */
  margin: 0; /* Reset margin */
  font-weight: 300 !important;
  color: white !important;
}

.navbar-brand {
  font-weight: 700;
  font-family: 'roboto', 'sans-serif';
  letter-spacing: 3px;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: #ff5722;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
}


.active {
  border-bottom: 2px solid white;
  font-weight: 600 !important;
}

.dropdown-item {
  color: white !important;
  background-color: transparent !important;
  border-bottom: 2px solid transparent; /* Initially transparent border */
  transition: background-color 0.3s, border-color 0.3s; /* Add transition effect for smooth animation */
  font-weight: 300 !important; /* Set font weight to match the rest of the navigation */
}

.dropdown-item:hover {
  background-color: transparent !important;
  border-bottom-color: white; /* Change the border color on hover */
}

/* Cart style section */
.cart-dropdown {
  width: 250px; /* Adjust as needed */
}

.cart-scrollable {
  max-height: 240px; /* Adjust as needed */
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px; /* Add padding to give some space */
}

.cart-item-image img {
  max-width: 40px; 
  height: auto;
  margin-right: 10px; /* Add some margin between image and text */
}

.cart-item-details {
  flex-grow: 1; /* Allows the details to take up available space */
}

.item-name {
  margin-bottom: 3px;
  font-weight: bold;
  margin-right: 10px; /* Add some right margin for separation */
}
.item-quantity {
  margin: 0;
}

.cart-total {
  text-align: center;
  
  padding: 5px 0; /* Add some padding for better visual separation */
}

.go-to-checkout {
  display: block;
  margin: 5px auto; /* Center the button horizontally with some margin */
}

.product-img {
  transition: transform 0.5s ease-in-out;
}

.product-img:hover {
  transform: scale(0.9);
}

